# Node.js specific files
node_modules/
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*
.pnpm-store/

# Environment variables
.env

# Build artifacts (if you're compiling TypeScript or similar)
/dist/
/build/

# Operating System files
.DS_Store # macOS specific
Thumbs.db # Windows specific

# IDE and Editor specific files
.idea/ # IntelliJ / WebStorm
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace